@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif !;
    min-height: 100vh;
    font-size: 14px !important;
    line-height: 22px;
}


/*navbar*/
.nav-item:not(:first-child) {
    margin-left: 30px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}




.navbar {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    width: 100%;

}

.secondary-navbar {
    margin-top: 10px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}

.secondary-navbar .nav-item {
    margin-top: -10px;
    margin-bottom: -10px;
}

.secondary-navbar .nav-item .nav-link {

    color: #000;
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: 500;
}

#search-form input {
    max-width: 150px;
}

.nav-container {
    padding: 0px 120px;
}

@media (min-width: 1500) {
    .nav-container {
        padding: 0px 300px;
    }
}

#search-form {
    margin-left: auto;
}

footer {
    color: #FFF;
    padding: 30px 10px;
    margin-top: auto;
    background-color: rgb(103, 189, 103);
    min-height: 50px;
}

footer .container {

    max-width: 980px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    padding: 0px;

}

footer .company-info {
    font-size: 17px;
}

.footer-heading {
    font-family: "Playwrite AU QLD", cursive;
    font-size: 20px;
}

footer ul li {
    margin-bottom: 5px;
}

footer .footer-menu a,
footer a,
footer a:hover {
    color: #FFF;
    font-size: 15px;

}

footer .company-info {
    justify-self: flex-start;
    font-weight: 300;
}

/*Authentication pages*/
#authenticationForm {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, #979696, #cacaca) 1;

}

#authenticationForm .btn {
    background-color: rgb(19, 192, 19);
    color: #fff;
    border: 2px solid #cacaca;
}

#authenticationForm .btn:hover {
    background-color: rgb(20, 173, 20);

}

#authenticationForm input {
    font-size: 17px;
}

@media (max-width: 576px) {
    .navbar .navbar-brand {
        font-size: 20px;
    }

    #authenticationForm {
        border-radius: 5px;
        border: 2px solid #cacaca;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin-left: 0px !important;
    }

    .secondary-navbar {
        border-top: none !important;
        border-bottom: none !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    }

    #search-form input {
        width: 100%;
    }


}

.profile-photo-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;

}

.profile_photo {
    width: 40px;
    /* Adjust width as needed */
    height: 40px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* Makes the photo circular */
    object-fit: cover;
    border: 2px solid #ddd;/
}

.custom-container {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;

}

.custom-container img {
    border-radius: 50%;
    width: 120px;
    border: 2px solid #ddd;

}

.custom-container h4 {
    font-size: 20px;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    border-radius: 0.25rem;
    font-size: 15px;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>.dropdown-item {
    text-decoration: underline;
}

#container_content {
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
    gap: 30px;
}

#container_content #left_side {
    display: flex;
    flex-direction: column;
    flex: 2;

}

#container_content #right_side {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container_post {
    max-width: 600px;


}

.content_of_post img {
    max-width: 100%;
    height: auto !important;
}

.container_post h1,
.content_of_post h1 {
    font-family: "Playfair Display", serif !important;
    font-weight: 700;
    margin-bottom: -10px;

}


.container_post p {
    font-family: "Playfair Display", serif !important;
    font-size: 18px;

}

.info {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;

}

.continue-reading-link {
    font-family: "Courgette", cursive;
    text-decoration: underline;
    font-style: normal;
    color: #000;
    font-size: 24px;

}

.continue-reading-link:hover {
    color: rgb(94, 180, 93);
}

.info-site {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-site p {
    text-align: center;
    font-family: "Courgette", cursive;
    font-size: 15px;


}

.info-site img {
    max-width: 100%;
    height: auto !important;


}

hr {

    border: 0;
    border-top: 2px solid gray;
    margin: -10px 0px;
}

.info-site ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;


}

.info-site ul li {
    margin: 0;
    padding: 0;
}

.info-site ul li+li::before {
    content: " ⋄ ";
    color: gray;
}

.info-site ul a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 0 6px;
    font-size: 14px;

}

.popular-items {
    margin-top: 1vh;
    font-weight: 700;
}

.popular-items img {
    width: 100%;
    height: auto;
}

.popular-items h4 {
    font-family: "Playfair Display", serif !important;
    font-size: 21px;
    font-weight: 800;


}

.popular-items p {
    font-family: "Playfair Display", serif !important;

    font-size: 15px;
    font-weight: 700;

}

#more-favourites-link {
    font-family: "Courgette", cursive;
    text-decoration: underline;
    font-style: normal;
    color: #000;

    font-size: 18px;
}

.pagination {
    margin-top: 5vh;
    max-width: 600px;

    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination-btn {
    font-family: "Courgette", cursive;
    text-decoration: underline;
    font-style: normal;
    color: #000;

    font-size: 25px;
}

.pagination a.disabled {
    color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}

.container-comments {
    padding: 20px;

    max-width: 600px;
    margin-bottom: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);

}

.comment-box {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.comment-box>img,
.parents>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top:10px;
    object-fit: cover;
    object-position: center;
}

.comment-input {
    width: 90%;
}

.comment-input>input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid rgb(125, 125, 134);
    margin-bottom: 10px;
    width: 90%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080
}

.buttons button {
    padding: 5px 10px;
    background: lightgrey;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.parents {
    display: flex;
    margin-bottom: 40px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size:15px;

}

.engagements>i {
    color: #181818;
    margin-right:5px;
}

.engagements span:nth-child(2),.engagements span:nth-child(4){
    margin-right:20px;
}

.reply-button{
    background:none;
    border:none;
    color:#007bff;

}

.reply_container{
    margin-left:30px;
    margin-top: -30px;
}

.replies-toggler{
    margin-top:10px;
    color:#007bff;
}
.like-button,.dislike-button{
    cursor: pointer;
}